// Colors
$blue: #2D3D8B;
$yellow: #F3C900;
$gray: #D8D8D8;
$green: #0DBD6E;
$red: #991E20;

body {
  height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

html, body, pre, code, kbd, samp {
  font-family: 'Courier Prime', monospace;
}

header {
  background: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  padding: 100px 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;

}

.inner {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.score {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
}

.word-box {
  margin: 25px auto;
  padding: 25px 0;
  min-width: 300px;

  &.success {
    border-color: $green;
    background-color: lighten($green, 55%);
  }

  &.fail {
    border-color: $red;
    background-color: lighten($red, 55%);
  }
}

.word {
  font-weight: 900;
  font-size: 2.4rem;
}

.englisch,
.artikel-reveal {
  visibility: hidden;
  &.show {
    visibility: visible;
  }
}

.select {
  width: 100%;
  padding: 25px 0;
}

.art-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artikel {
  font-size: 1.7rem;
  font-weight: bold;
  width: 25%;
}
